<html ng-app>
<head>
	<script src="Scripts/angular.min.js" type="text/javascript"></script>
	<script src="Scripts/latest.js" type="text/javascript"></script>
</head>
<body>
<div ng-controller="latestCtrl">

	<button ng-click='setSymbol("LTC", "BTC")'>LTC/BTC</button>
	<button ng-click='setSymbol("BTC", "EUR")'>BTC/EUR</button>
	<div>
		<label>Rate {{ baseCurrency }}/{{ altCurrency }}
			<input ng-model="rate">
		</label>
	</div>
	<label>{{ baseCurrency }}
		<input ng-model="baseAmount">
	</label>
	<label>{{ altCurrency }}
		<input ng-model="altAmount">
	</label>

	<div>{{ baseCurrency }} total : {{baseAmountResult}}</div>
	<div>{{ altCurrency }} total : {{altAmountResult}}</div>

	<div>.</div>
	<div>{{ baseCurrency }} total - fee: {{baseAmountResult - baseAmountResult * tradeFee}}</div>
	<div>{{ altCurrency }} total - fee: {{altAmountResult - altAmountResult * tradeFee}}</div>
</div>
</body>
</html>