<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="marketGetter" 
				 type="marketGardenApi.Controllers.MarketGetterConfig, marketGardenApi" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<marketGetter>
		<markets>
			<add baseCurrency="LTC" altCurrency="BTC" thresholdPercent="5.5">
				<readers>
					<add type="MarketGarden.Readers.BtceReader, marketGarden"></add>
					<add type="MarketGarden.Readers.MtGoxReader, marketGarden"></add>
				</readers>
			</add>
			<add baseCurrency="BTC" altCurrency="USD" thresholdPercent="5.5">
				<readers>
					<add type="MarketGarden.Readers.BtceReader, marketGarden"></add>
					<add type="MarketGarden.Readers.MtGoxReader, marketGarden"></add>
				</readers>
			</add>
		</markets>
	</marketGetter>

</configuration>